.a-button {
    $button: &;
    padding: 8px;
    border-radius: 4px;
    font-weight: bold;
    line-height: 1;
  
    &--primary {
      @extend #{$button};
      height: 40px;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .3);
      background: #666;
      color: #fff;
    }
  
    &--secondary {
      @extend #{$button};
      height: 32px;
      border: 1px solid #666;
      font-size: 12px;
      color: #666;
    }
  }